<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Alina/Downloads/ProjectAPI2">
        <classes>
            <class name="calls.AuthenticationCall"></class>
            <class name="calls.DELETE"></class>
            <class name="calls.GET"></class>
            <class name="calls.POST"></class>
        </classes>
    </test>
</suite>